body{
    text-align: center;
    background-color:  #caecee;
}
h1{
    color:#7c646a;
    font-family: 'Lucida Sans';
     margin-top: 30px;
    margin-bottom: 25px;
}
p{
    font-family: 'Lucida Sans Regular';
}
h2{
    font-family: cursive;
}
.homePage{
    font-family: 'Lucida Sans';
}

footer{
 text-align: center;
 color: darkblue;
 margin-top: 500px;
 font-size: 15px;
}
#authorInfo img {
    border-radius: 8px;
    border: 3px solid #ccc;
    margin-bottom: 10px;
}
#authorModal .modal-content {
    background-color: #f8f9fa; 
    border-radius: 12px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.3);
    padding: 10px;
}